@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Gloria+Hallelujah&family=Raleway&display=swap");

.view {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  /* padding: 2rem; */
}

.notepad {
  margin: 2rem;
  background-color: blanchedalmond;
}

.view .notepad::before {
  background-color: #472525;
  border-right: 1px double rgb(145, 58, 58);
  width: 2rem;
}

.view p {
  height: 3rem;
  border-bottom: 1px dotted grey;
  padding-left: 2rem;
  display: flex;
  align-items: center;
}

span {
  margin-left: 2rem;
  font-family: "Gloria Hallelujah", cursive;
}
